html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #826409;
    background: url('../img/bg16ab7a.png') repeat-x #FFE6AF;
    position: relative;
}

hr {
    border:none;
    border-bottom:1px solid #ddd;
}

button {
    color: #fff;
    border: 1px solid #0077b1;
    border-radius: 3px;
    padding: 5px 8px;
    cursor: pointer;
    background-color:#0e7dce;
}

input {
    border-radius: 3px;
    border:1px solid #ccc;
    padding: 5px 8px;
}

#sand {
    width: 785px;
    height: 193px;
    position: absolute;
    top: 304px;
    left: 0;
    background: url('../img/bg_sand104470.png') no-repeat scroll left bottom;
}

#bottles {
    width: 100%;
    height: 46px;
    text-align: center;
    position: absolute;
    top: 404px;
    left:0;
    display: block;
}


#bottles a {
    height: 46px;
    border-radius: 5px;
    background: url('../img/icon104470.png') no-repeat 0 0;
    margin: 0 5px 0 0;
    display: inline-block;
    position: relative;
}

#bottles a:hover {
    background-color: #ffeeca;
}

#bottles a:active {
    background-color: #f0d089;
}

#bottles a#btnThrow {
    width: 122px;
    background-position: 0 -93px;
}

#bottles a#btnGet {
    width: 127px;
    background-position: 0 -158px;
}

#bottles a#btnMyBottle {
    width: 155px;
    background-position: 0 -28px;
}

#bottles a#btnMyBottle .num-bg {
    left: 60px;
    background: #b81606;
}

.num-bg {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 30px;
    position: absolute;
    left: 38px;
    top: -5px;
    padding: 3px;
    background: #06a6b8;
}

.confirm {
    text-align: center;
    width: 200px;
    border:5px solid #efdfc1;
    border-radius: 3px;
    padding: 8px 15px;
    background: #FFF2D9;
    position: relative;
    top: 150px;
    left: 50%;
    margin-left: -100px;
    display: none;
}

.confirm.active {
    display: inline-block;
}

.confirm .close {
    position: absolute;
    top: -10px;
    right: -11px;
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    z-index: 55;
    padding: 0;
    background: url("../img/close_icon104470.png") no-repeat scroll 0 0;
    text-indent: -9999px;
}

#login {
    display: none;
}

#post {
    width: 300px;
    margin-left: -150px;
}

#post textarea {
    width: 280px;
    min-height: 80px;
    border:1px solid #ccc;
    padding: 5px 10px;
}